*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000000;
}
#nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}
#nav-buttons1{
    align-items:center;
    text-align: center;
    margin-top: 30px;
    gap: 50px;

}



.body-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10rem;
    min-height: 30vh;
 
}

.box {
    position: relative;
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform:perspective(1000px) rotateY(360deg)
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.box span:hover img {
    transform: translateY(-50px);
}
button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   
@media screen and (max-width: 450px) {
    .box {
    width: 100px;
    height: 100px;
    }
    .box span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
        
    }
    .body-gallery {
    min-height: 20vh;   
    }
    button{
    font-size: 12px;
    }
}

@media screen and (max-width: 820px) {
   
}

